//============
.footer {
   width: 100%;

   // .footer__container
   &__container {
   }

   // .footer__body
   &__body {
      width: 100%;
      padding: 20px 0;
		@media (max-width: $md3 + px) {
			min-height: 50px;
		}
      text-align: center;
   }
}
//============