// ============
// Статья (Добавление)
// ============

.add-article {
	// .add-article__title
	&__title {
		margin-bottom: 30px;
	}

	// .add-article__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .add-article__label
	&__label {
		@include adaptiv-font(20, 16, 1);
	}

	// .add-article__input
	&__input {
		@include adaptiv-value(margin-bottom, 30, 15, 1);
		@include adaptiv-font(16, 14, 1);
		padding: 10px 15px;
		border-radius: 10px;
	}

	// .add-article__textarea
	&__textarea {
		@include adaptiv-font(16, 14, 1);
		min-height: 200px;
		resize: none;
		padding: 16px 20px;
		border-radius: 10px;
	}

	// .add-article__error
	&__error {
	}

	// .add-article__button
	&__button {
	}
}
