// ============
// Статья (Добавление)
// ============

.add-user {
	// .add-user__title
	&__title {
		margin-bottom: 30px;
	}

	// .add-user__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .add-user__label
	&__label {
		@include adaptiv-font(20, 16, 1);
	}

	// .add-user__input
	&__input {
		@include adaptiv-value(margin-bottom, 30, 15, 1);
		@include adaptiv-font(16, 14, 1);
		padding: 10px 15px;
		border-radius: 10px;
	}

	// .add-user__error
	&__error {
	}

	// .add-user__button
	&__button {
	}
}
