// ============
// Работы
// ============

.works {
   @include adaptiv-value(margin-bottom, 50, 30, 1);

   // .works__head
   &__head {
      @include adaptiv-value(margin-bottom, 50, 30, 1);
   }

   // .works__work
   &__work {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }
}

.work {
   @include adaptiv-value(padding, 20, 10, 1);
   display: flex;
   gap: 0 20px;
   padding-bottom: 15px;
   border-bottom: 1px solid #E0E0E0;
   @media (max-width: $md3 + px) {
      flex-direction: column;
      align-items: center;
   }

   // .work__image
   &__image {
      flex: 0 1 28%;
      max-width: 240px;
      @media (max-width: $md3 + px) {
         width: 100%;
         margin-bottom: 15px;
      }
   }

   // .work__content
   &__content {
      flex: 1 1 507px;
      @media (max-width: $md3 + px) {
         flex: 0 0 auto;
      }
   }

   // .work__title
   &__title {
      margin-bottom: 16px;
   }

   // .work__info
   &__info {
      display: flex;
      @include adaptiv-value( gap, 40, 20, 1);
      margin-bottom: 16px;
   }

   // .work__data
   &__data {
      padding: 2px 5px;
      border-radius: 16px;
      @include adaptiv-font (20,16, 1);
      font-weight: 700;
      color: #fff;
      background-color: #142850;
   }

   // .work__theme
   &__theme {
      color: #8695A4;
      @include adaptiv-font (20,16, 1);
      
   }

   // .work__text
   &__text {
   }
}
